* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

header {
  margin-bottom: 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 95%;
  height: 80px;
  padding: 0 20px;
  background-color: #f8f0e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h2 {
  color: #0f2c59;
}

nav ul {
  display: flex;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #0f2c59;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(252, 246, 246);
}

nav.navbar-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav.navbar-menu .close {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0f2c59;
  margin: 3px 0;
}

.jumbutron {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  text-align: left;
  background-color: #0f2c59;
}

.jumbutron .cta h2 {
  color: #f0f0f0;
  font-size: 18px;
}

.jumbutron .cta h1 {
  color: #e5d283;
  font-size: 48px;
}

.jumbutron .cta p {
  color: #f8f0e5;
  font-size: 24px;
}

.jumbutron .cta .button {
  margin-top: 20px;
}

.jumbutron .cta .button a {
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #0f2c59;
  padding: 10px 20px;
  background-color: #f8f0e5;
}

.jumbutron .cta .button .search {
  font-size: 20px;
  background-color: #0f2c59;
  color: #f8f0e5;
  border: 2px solid #f8f0e5;
}

.jumbutron .cta .button .search:hover {
  background-color: #f8f0e5;
  color: #0f2c59;
}

.jumbutron .cta .button .take {
  font-size: 20px;
  border: 2px solid #0f2c59;
}

.jumbutron .cta .button .take:hover {
  background-color: #0f2c59;
  border: 2px solid #f8f0e5;
  color: #f8f0e5;
}

.jumbutron .hero img {
  width: 70%;
}

/* End Header */

/* Main */

main {
  display: flex;
  justify-content: space-around;
}

main .content {
  flex: 0 0 80%;
}

.content #about {
  padding: 0 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content #about .text {
  padding: 0 20px;
}

.content #about .text .fa-forward {
  font-size: 36px;
  color: #0f2c59;
}

.content #about .text h2 {
  font-size: 36px;
  color: #e5d283;
}

.content #about .text p {
  margin-top: 20px;
  font-weight: 400;
}

.content #about .text blockquote {
  font-weight: 300;
  font-style: italic;
}

.content #about .image img {
  width: 100%;
}

#benefit {
  height: 100vh;
  margin: 100px 50px;
}

#benefit h2 {
  font-size: 36px;
  color: #e5d283;
  text-align: center;
}

#benefit .title {
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
}

#benefit .cards {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

#benefit .cards .card-item {
  padding: 50px 100px;
  width: 48%;
  text-align: left;
  box-sizing: border-box;
}

#course h2 {
  font-size: 36px;
  color: #e5d283;
  text-align: center;
}

#course .title {
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
}

#course .cards {
  margin: auto 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#course .cards .card-item {
  box-sizing: border-box;
  border-radius: 12px;
  margin: 20px 0;
  padding: 50px 20px;
  width: 30%;
  text-align: left;
  box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#course .cards .card-item img {
  max-width: 100%;
}

#course .card-item .text-card {
  margin: 10px 0;
}

#course .card-item .rating {
  margin-top: 15px;
}

#course .card-item a {
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  color: #0f2c59;
  padding: 5px 10px;
  background-color: #f8f0e5;
}

#course .card-item .enroll {
  margin-right: 10px;
  text-decoration: none;
  background-color: #0f2c59;
  color: #f8f0e5;
  border: 2px solid #0f2c59;
}

#course .card-item .learn {
  border: 2px solid #f8f0e5;
}

#course .card-item .enroll:hover {
  background-color: #f8f0e5;
  color: #0f2c59;
}
#course .card-item .learn:hover {
  background-color: #0f2c59;
  border: 2px solid #0f2c59;
  color: #f8f0e5;
}

.fa-solid.fa-star {
  color: gold;
}

#contact {
  margin: auto 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact .cta {
  padding: 20px;
}

#contact .cta h2 {
  color: #e5d283;
  font-size: 36px;
}

#contact .cta p {
  margin-bottom: 20px;
}

#contact .cta a {
  font-size: 20px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  color: #f8f0e5;
  padding: 10px 20px;
  background-color: #0f2c59;
  border: 2px solid #0f2c59;
}

#contact .cta a:hover {
  color: #0f2c59;
  background-color: #f8f0e5;
  border: 2px solid #0f2c59;
}

#contact .image img {
  width: 100%;
}

/* End Main */

/* Aside */

aside {
  margin-top: 100px;
  margin-right: 10px;
}

aside article {
  border-radius: 10px;
  box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

aside article p {
  font-weight: 300;
}

aside figure img {
  margin: 10px 0;
  border-radius: 10px;
  max-width: 100%;
}

aside article figure figcaption p {
  margin-bottom: 30px;
}

aside article a {
  border-radius: 8px;
  text-decoration: none;
  color: #f8f0e5;
  padding: 10px 20px;
  background-color: #0f2c59;
  border: 2px solid #0f2c59;
}

aside article a:hover {
  color: #0f2c59;
  background-color: #f8f0e5;
  border: 2px solid #0f2c59;
}

/* End Aside */

/* Footer */
footer {
  background-color: #0f2c59;
  color: #f8f0e5;
  height: 60px;
  text-align: center;
}

footer p {
  padding-top: 22px;
}

@media only screen and (max-width: 480px) {
  /* Header */

  nav.navbar-menu .close {
    margin: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  nav.navbar-menu {
    display: none;
  }

  nav.navbar-burger {
    display: block;
  }

  nav.navbar-menu.active {
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    background-color: #e5d283;
    position: fixed;
    z-index: 1;
  }

  nav.navbar-menu.active ul li {
    text-align: center;
    padding-top: 30px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: #0f2c59;
    padding: 10px;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: rgb(252, 246, 246);
  }

  .jumbutron {
    flex-direction: column;
    padding: 0 30px;
    justify-content: space-evenly;
  }

  .jumbutron .cta h2 {
    font-size: 12px;
  }

  .jumbutron .cta h1 {
    color: #e5d283;
    font-size: 32px;
  }

  .jumbutron .cta p {
    color: #f8f0e5;
    font-size: 16px;
  }

  .jumbutron .cta .button a {
    text-align: center;
    display: block;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #0f2c59;
    padding: 10px 20px;
    background-color: #f8f0e5;
  }

  .jumbutron .cta .button {
    margin-top: 20px;
  }

  .jumbutron .cta .button .search,
  .jumbutron .cta .button .take {
    font-size: 10px;
  }

  .jumbutron .hero {
    display: flex;
    justify-content: center;
  }

  /* End Header */

  /* Main */
  main {
    flex-direction: column;
  }

  main .content {
    flex: 0 0 100%;
  }

  .content #about {
    padding: 0 15px;
    height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  .content #about .text {
    padding: 0 20px;
  }

  .content #about .text .fa-forward {
    font-size: 36px;
    color: #0f2c59;
  }

  .content #about .text h2 {
    font-size: 22px;
  }

  .content #about .text p,
  .content #about .text blockquote {
    font-size: 14px;
  }

  .content #about .image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #benefit {
    height: 1050px;
    margin: 10px 20px;
  }

  #benefit h2 {
    font-size: 22px;
    color: #e5d283;
    text-align: center;
  }

  #benefit .title {
    font-size: 14px;
  }

  #benefit .cards .card-item {
    padding: 20px 25px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }

  #course h2 {
    font-size: 22px;
    color: #e5d283;
    text-align: center;
  }

  #course .title {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
  }

  #course .cards {
    margin: 20px 25px;
  }

  #course .cards .card-item {
    width: 100%;
  }

  #course .cards .card-item a {
    display: block;
    text-align: center;
  }

  #course .card-item .enroll {
    margin-right: 0;
  }

  #course .cards .card-item img {
    max-width: 100%;
  }

  #course .card-item .text-card {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #contact {
    margin: 0 20px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #contact .cta h2 {
    font-size: 22px;
  }

  #contact .cta p {
    font-size: 14px;
  }

  #contact .cta a {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  #contact .image img {
    width: 80%;
  }

  /* End Main */

  /* Aside */

  aside {
    margin: 10px 10px;
  }

  aside article h2 {
    font-size: 22px;
  }

  aside article p {
    font-size: 14px;
    font-weight: 300;
  }

  aside article a {
    display: block;
    text-align: center;
  }
  /* End Aside */

  /* Footer */

  footer p {
    font-size: 14px;
    padding-top: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Header */

  .jumbutron {
    padding: 0 30px;
    height: 700px;
  }

  .jumbutron .cta h2 {
    font-size: 22px;
  }

  .jumbutron .cta h1 {
    font-size: 52px;
  }

  .jumbutron .cta p {
    font-size: 28px;
  }

  .jumbutron .hero {
    display: flex;
    justify-content: center;
  }

  /* End Header */

  .content #about {
    padding: 0 70px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .content #about .text h2 {
    font-size: 28px;
  }

  .content #about .text p {
    font-size: 14px;
  }

  .content #about .text blockquote {
    font-size: 14px;
  }

  .content #about .image img {
    width: 120%;
  }

  #benefit {
    height: 600px;
    margin: 100px 50px;
  }

  #benefit h2 {
    font-size: 28px;
    color: #e5d283;
  }

  #benefit h3 {
    font-size: 15px;
  }

  #benefit p {
    font-size: 13px;
  }

  #benefit .title {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
  }

  #benefit .cards .card-item {
    padding: 50px 30px;
  }

  #course h2 {
    font-size: 28px;
  }

  #course .title {
    font-size: 14px;
  }

  #course .cards {
    margin: auto 50px;
  }

  #course .cards .card-item {
    box-sizing: border-box;
    border-radius: 12px;
    margin: 20px 0;
    padding: 50px 20px;
    width: 48%;
    text-align: left;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.2);
  }

  #course .card-item .enroll {
    font-size: 14px;
  }
  
  #course .card-item .learn {
    font-size: 14px;
  }

  #course .card-item .rating {
    margin-top: 15px;
  }
  

  #contact {
    margin: auto 50px;
    height: 500px;
  }

  #contact .cta {
    padding: 0px;
  }

  #contact .cta h2 {
    color: #e5d283;
    font-size: 28px;
  }

  #contact .cta p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #contact .cta a {
    font-size: 15px;
    margin: 10px 0;
  }

  aside {
    margin-top: 0px;
  }

  aside article {
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  aside article h2 {
    font-size: 16px;
  }
  
  aside article p {
    font-size: 14px;
    font-weight: 300;
  }

  aside figure img {
    margin: 10px 0;
    border-radius: 10px;
    max-width: 100%;
  }

  aside article figure figcaption p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  aside article figure a {
    font-size: 9px;
  }
}
